<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reseller">
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="reseller"
        android:icon="@mipmap/ic_launcher"></application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
